<div class="login">
  <h1 class="login__title">{{ title }}</h1>
  <div class="form-group label-floating login__input">
    <label for="user" class="control-label">Usuario</label>
    <input type="email" class="form-control" id="user">
  </div>

  <div class="form-group label-floating login__input">
    <label for="email" class="control-label">Contraseña</label>
    <input type="password" class="form-control" id="email">
  </div>

  <a class="btn btn-primary btn-raised" href="dashboard">Ingresar</a>
</div>
