<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="" routerLink="/dashboard">SPR</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="" class="visible-xs"><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Vista General<span class="sr-only">(current)</span></a></li>
        <li class="visible-xs"><a href=""><span class="glyphicon glyphicon-list"></span>Plan Operativo Institucional</a></li>
        <li class="visible-xs"><a href=""><span class="glyphicon glyphicon-stats"></span>Monitoreo de Planes</a></li>
        <li class="visible-xs"><a href=""><span class="glyphicon glyphicon-file"></span>Ficha Social</a></li>
        <li class="visible-xs"><a href=""><span class="glyphicon glyphicon-piggy-bank"></span>Reporte del P.N.D</a></li>
        <!--  -->
        <li class="hidden-xs"><a href=""><span class="glyphicon glyphicon-filter"></span></a></li>
        <li>
          <a href=""  class="dropdown-toggle" data-toggle="dropdown">José Olórtegui
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Cambiar Clave</a></li>
            <li class="divider"></li>
            <li><a href="">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control search-input" placeholder="Buscar...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid dashboard__content">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar dashboard__sidebar-group hidden-xs animated fadeInUp">
        <li class=""><a href="" class="text-primary"><span class="glyphicon glyphicon-home text-primary" aria-hidden="true"></span>Vista General<span class="sr-only">(current)</span></a></li>
        <li><a href="" class="text-muted"><span class="glyphicon glyphicon-list text-primary"></span>Plan Operativo Institucional</a></li>
        <li><a href="" class="text-muted"><span class="glyphicon glyphicon-stats text-primary"></span>Monitoreo de Planes</a></li>
        <li><a href="" class="text-muted"><span class="glyphicon glyphicon-file"></span>Ficha Social</a></li>
        <li><a href="" class="text-muted"><span class="glyphicon glyphicon-piggy-bank"></span>Reporte del P.N.D</a></li>
        <ul class="nav nav-sidebar dashboard__sidebar-group">
          <div class="col-xs-6">
            <li class="text-center"><a href="" class="text-muted" title="Documentación"><span class="glyphicon glyphicon-book"></span></a></li>
          </div>
          <div class="col-xs-6">
            <li class="text-center"><a href="" class="text-muted" title="Acerca del Tablero de Control"><span class="glyphicon glyphicon-info-sign"></span></a></li>
          </div>
        </ul>
      </ul>
    </div>
    <div class="col-sm-9 col-md-10 main editor-content animated fadeIn">
      <ul class="nav nav-justified">
        <li role="presentation" class="active"><a href="#">Edición</a></li>
        <li role="presentation"><a href="#">Administrar Acciones</a></li>
        <li role="presentation"><a href="#">Avance Cualitativo</a></li>
      </ul>

      <div class="tab-content">
        <div class="form-group label-floating login__input">
          <label for="nombre" class="control-label">Nombre</label>
          <input type="text" class="form-control" id="nombre">
        </div>

        <div class="form-group">
          <label for="s1">Institución</label>
          <select id="s1" class="form-control">
            <option value="Secretaría Técnica de Planificación del Desarrollo Económico y Social">Secretaría Técnica de Planificación del Desarrollo Económico y Social</option>
            <option value="Administración Nacional de Electricidad">Administración Nacional de Electricidad</option>
          </select>
        </div>

        <div class="form-group">
          <label for="s1">Periodo</label>
          <select id="s1" class="form-control">
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
          </select>
        </div>

        <div class="form-group label-floating login__input">
          <label for="meta" class="control-label">Meta</label>
          <input type="text" class="form-control" id="meta">
        </div>

        <div class="form-group label-floating login__input">
          <label for="version" class="control-label">Versión</label>
          <input type="text" class="form-control" id="version">
        </div>
        <h3></h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked=""> Sembrando Oportunidades
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked=""> Gobierno Abierto
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked=""> Estrategia Nacional de Inclusión Financiera
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked=""> Planificación Operativa Institucional
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked=""> Planes de Desarrollo Departamentales y Municipales
          </label>
        </div>
      </div>
      <div class="text-center">
        <a href="" class="btn btn-raised btn-primary btn-lg">Actualizar</a>
      </div>
    </div>
  </div>
</div>
